# Ignore everything
*

# Don't ignore rider
!rider/
!rider/**

# Don't ignore bike paints
!bikes/
!bikes/*
!bikes/*/*
!bikes/*/*/paints
!*.pnt
*.pkz
*.cfg
*.ini
*.hrc
*.scl
*.edf
*.txt

# Repo things
!readme.md
!.gitignore
!.gitattributes
!*.bat
