# Ignore everything
*

# Don't ignore rider
!rider/
!rider/**

# Don't ignore bikes
!bikes/

# Allow all .pnt files in bikes directory and its subdirectories
!bikes/**/paints/*.pnt

# Repo things
!readme.md
!.gitignore
!.gitattributes
!*.bat
